<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>首页</title>
</head>
<body>
	<div id="app"><%- markup %></div>
	<div><%- initialState %></div>
	<div><%- mypath %></div>
	<script>
          window.__INITIAL_STATE__ = <%- initialState %>
    </script>
	<script src="/js/common.js" charset="utf-8"></script>
    <script src="/js/bundle_main.js" charset="utf-8"></script>
</body>
</html>